@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

  .custom-clip-path {
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 13% 100%, 13% 57%, 6% 50%, 13% 43%);
  }

  body{
    font-family: var(--font-PlayfairDisplay);
  }